@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;500&display=swap');
*{
    margin:  0;
    font-family: Montserrat;
    box-sizing: border-box;
}
#iCon
{
    background-image: url("OmegaDeveloprs_.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 20;
    width: 42px;
    height: 42px;
}
header
{
    background: #111;
    color: #fff;
    height: 4rem;

    margin: 0;
    display: flex;
    padding: 0 1%;
    align-items: center;
    font-size: 1.5em;
}

#main{
    margin:25px;
    padding: 50px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}
#audio{
    display:none;
}
#start{
    display:none;
}
button
{   
    width:150px;
    outline: none;
    border: none;
    margin :10px;
    background-color: rgb(216, 29, 67);
    padding: 1%;
    cursor: pointer;
    border-radius: 1em;
    color: #fff;

}
#btn2{
    text-align: center;
}
#btnstop{
    display:none;
}
#btnstop button{
    background-color: rgb(66,133,244);
}
#eye{
    text-align: center;
}
.foot
{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: #fff;
    border: 0;
    font-size: small;
    text-align: center;
 
}
.foot a{
    color: #fff;
    
}
#additive{
    display: none;
    margin:25px;
    padding: 50px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}
